li {
	text-decoration: none;
	display: inline-block;
	margin: 0 7px;
	font-size: 1.55em;
	background-color: #ce2029;
	border-style: dashed;
}

h1 {
	text-align:center;
}

p {
	text-align: center;
 }